[submodule "Numantium/vendor/spdlog"]
	path = Numantium/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Numantium/vendor/GLFW"]
	path = Numantium/vendor/GLFW
	url = https://github.com/Ander-RL/glfw.git
